body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.733);
}

h1 {
    text-transform: capitalize;
    letter-spacing: 8px;
}

p{
    font-size: 16px;
    font-weight: bold;
    color: rgba(17, 7, 7, 0.733);
    text-align: center;
}

span{
    font-size: 18px;
    color: black;
    border: 1px solid green;
    padding: 5px;
    cursor: pointer
}

button {
    width: 60px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 4px;
    padding: 4px;
    text-transform: uppercase;
}

.images{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

img {
    width: 300px;
    object-fit: contain;
}